#myCanvas {
  padding-left: 0;
    padding-right: 0;
    margin: auto;
    margin-top: 110px;
    display: block;
}

#color-palette {
  width: 220px;
  height: 220px;
  border-top-left-radius: 100%;
  background-color: #ededed;
  position: fixed;
  bottom: 0;
  right: 0;
}

#inner-palette {
  width: 120px;
  height: 120px;
  border-top-left-radius: 100%;
  background-color: #ededed;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid #d4d4d4;
}

#palette-icon {
  transform: translateX(36px) translateY(38px);
}

.swatch {
  width: 50px;
  height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 3px;
  position: absolute;
}

.swatch-0 {
  transform: rotate(0deg) translateX(160px) translateY(-60px);
}

.swatch-1 {
  transform: rotate(72deg) translateX(-10px) translateY(-90px);
}

.swatch-2 {
  transform: rotate(144deg) translateX(-7px) translateY(-15px);
}

.swatch-3 {
  transform: rotate(216deg) translateX(-15px) translateY(-85px);
}

.swatch-4 {
  transform: rotate(288deg) translateX(-170px) translateY(-10px);
}

#side-box {
  width: 110px;
  height: 457px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ededed;
  margin-top: 180px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tool-icon {
  margin-top: 20px;
  margin-left: 20px;
}

.tool-icon-1 {
  margin-top: 18px;
  margin-left: 20px;
}

.tool-icon-5 {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 18px;
}
