body {
  background-color: #fcfcfc;
}

img {
  border-radius: 15px;
}

input {
  border-radius: 15px;
}

#top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#bottom-bar {
  width: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

.top-icon {
  width: 40px;
  height: 40px;
  margin-top: 33px;
  margin-left: 33px;
  opacity: 0.5;
}

.bottom-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 33px;
  margin-left: 33px;
  opacity: 0.5;
  display: inline-block;
}

.layer {
  width: 60px;
  height: 40px;
  margin-bottom: 33px;
  margin-left: 33px;
  display: inline-block;
  border: 2px solid #d1d1d1;
}

#icon-2 {
  margin-left: 60px;
}

#icon-3 {
  margin-left: 25px;
}

#icon-4 {
  margin-left: 400px;
}

#icon-5 {
  margin-left: 350px;
}

#icon-6 {
  margin-left: 12px;
}

#icon-7 {
  margin-left: 12px;
}

#icon-8 {
  margin-left: 87px;
}

#myCanvas {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  margin-top: 150px;
  display: block;
}

#color-palette {
  width: 220px;
  height: 220px;
  border-top-left-radius: 100%;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid #d1d1d1;
}

#inner-palette {
  width: 145px;
  height: 145px;
  border-top-left-radius: 100%;
  background-color: #ededed;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid #d1d1d1;
}

#palette-icon {
  transform: translateX(51px) translateY(52px);
  border-radius: 100%;
}

.swatch {
  width: 50px;
  height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 3px;
  position: absolute;
  border: 1px solid #cccccc;
}

.swatch-0 {
  transform: rotate(0deg) translateX(160px) translateY(-60px);
}

.swatch-1 {
  transform: rotate(72deg) translateX(-10px) translateY(-90px);
}

.swatch-2 {
  transform: rotate(144deg) translateX(-7px) translateY(-15px);
}

.swatch-3 {
  transform: rotate(216deg) translateX(-15px) translateY(-85px);
}

.swatch-4 {
  transform: rotate(288deg) translateX(-170px) translateY(-10px);
}

.swatch-5 {
  transform: rotate(0deg) translateX(86px) translateY(-135px);
}

.swatch-6 {
  transform: rotate(0deg) translateX(86px) translateY(-200px);
}

.swatch-7 {
  transform: rotate(0deg) translateX(86px) translateY(-265px);
}

.swatch-8 {
  transform: rotate(0deg) translateX(86px) translateY(-330px);
}

.swatch-9 {
  transform: rotate(0deg) translateX(86px) translateY(-395px);
}

.swatch-10 {
  transform: rotate(72deg) translateX(-100px) translateY(-69px);
}

.swatch-11 {
  transform: rotate(72deg) translateX(-165px) translateY(-69px);
}

.swatch-12 {
  transform: rotate(72deg) translateX(-230px) translateY(-69px);
}

.swatch-13 {
  transform: rotate(72deg) translateX(-295px) translateY(-69px);
}

.swatch-14 {
  transform: rotate(72deg) translateX(-360px) translateY(-69px);
}

.swatch-15 {
  transform: rotate(144deg) translateX(-42px) translateY(75px);
}

.swatch-16 {
  transform: rotate(144deg) translateX(-42px) translateY(140px);
}

.swatch-17 {
  transform: rotate(144deg) translateX(-42px) translateY(205px);
}

.swatch-18 {
  transform: rotate(144deg) translateX(-42px) translateY(270px);
}

.swatch-19 {
  transform: rotate(144deg) translateX(-42px) translateY(335px);
}

.swatch-20 {
  transform: rotate(216deg) translateX(59px) translateY(8px);
}

.swatch-21 {
  transform: rotate(216deg) translateX(124px) translateY(8px);
}

.swatch-22 {
  transform: rotate(216deg) translateX(189px) translateY(8px);
}

.swatch-23 {
  transform: rotate(216deg) translateX(254px) translateY(8px);
}

.swatch-24 {
  transform: rotate(216deg) translateX(319px) translateY(8px);
}

.swatch-25 {
  transform: rotate(288deg) translateX(-30px) translateY(-56px);
}

.swatch-26 {
  transform: rotate(288deg) translateX(-30px) translateY(-121px);
}

.swatch-27 {
  transform: rotate(288deg) translateX(-30px) translateY(-186px);
}

.swatch-28 {
  transform: rotate(288deg) translateX(-30px) translateY(-251px);
}

.swatch-29 {
  transform: rotate(288deg) translateX(-30px) translateY(-316px);
}


#side-box {
  width: 110px;
  height: 457px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ededed;
  margin-top: 240px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #d1d1d1;
}

.tool-icon {
  margin-top: 20px;
  margin-left: 20px;
}

#tool-icon-1 {
  margin-top: 18px;
  margin-left: 20px;
}

#tool-icon-2 {
  margin-top: 18px;
  margin-left: 20px;
}

#tool-icon-5 {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 18px;
}

#recent-colors {
  width: 78px;
  height: 344px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ededed;
  margin-top: 296px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #d1d1d1;
}

.recents {
  width: 48px;
  height: 48px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #cccccc;
  margin-top: 14px;
  margin-left: 15px;
}

#recents-1 {
  margin-top: 18px;
  margin-left: 15px;
}

#recents-5 {
  margin-top: 14px;
  margin-left: 15px;
  margin-bottom: 18px;
}
